body{
    margin: 0px;
    padding: 0px;
    background: #F3F5FC;
}
footer{
    width: 100%;
    height: 30px;
    background-color: #F3F5FC;
}
footer{    
    font-size: 10px;
    text-align:center;
    color: #0A3871;
    padding-top: 30px;
    box-sizing: border-box;
}
.container{
    margin: auto;
    width: 960px;
    height: 600px;
    padding: 5px;
    /*background: rgb(69, 146, 247);*/
}
.logo{
    width: 100%;
    float: left;
    /*background: rgb(150, 211, 247);*/
}
.logoAlura{
    margin-top: 1%;
    margin-left: 1%;
    float: inherit;
}
.title{
    float: inherit;
    margin-left: 20%;
    font-size: 24px;
    color: #0A3871;
}
.left{
    float: left;
    width: 60%;
    height: 70%;
    border-radius: 30px;
    /*background: rgb(150, 211, 247);*/
}
.text-input{
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 80%;
    color: #0A3871;
    font-size: 20PX;
    border: none;
    outline: none;
    background: #F3F5FC;
}
.right{
    float: right;
    width: 38%;
    height: auto;
    border-radius: 30px;
    background: rgb(150, 211, 247);
}
.botones{
    float: left;
    width: 60%;
    height: auto;
    border-radius: 30px;
}
#incognito{
    margin-left: 2%;
    margin-top: 20%;
    width: 90%;
    height: auto;

}
#texto{
    margin-left: 7%;
    margin-right: 5%;
    text-align: center;
}
#texto2{
    float: left;
    margin-left: 10%;
    color: #0A3871;
    width: 80%;
    height: 60%;
    border: none;
    outline: none;
    font-size: 15px;
    background: rgb(150, 211, 247);
}
#boton_Encriptar{
    padding: 24px;
    width: 24%;
    height: 60%;
    border-radius: 24px;
    margin-left: 8%;
    background: #0A3871;
    color: aliceblue;
    font-size: 16px;
    cursor: pointer;
}
#boton_Desencriptar{
    padding: 24px;
    width: 24%;
    height: 60%;
    border-radius: 24px;
    margin-left: 4%;
    background: #0A3871;
    color: aliceblue;
    font-size: 16px;
    cursor: pointer;
}

#boton_Copiar{
    margin-left: 33%;
    margin-top: 90%;
    padding: 24px;
    width: 40%;
    height: 10%;
    background: #0A3871;
    border-radius: 24px;
    display: none;
    cursor: pointer;
}